@inherits LayoutComponentBase
<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

<div class="page">
    <main>
        <div class="top-row px-4 rz-text-align-center" style="padding-top:30px;">
            <LogOut @ref="logOutRef" />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private LogOut logOutRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        logOutRef.UpdateState();
    }


}