@using HiBlazor.SPA.Services;
@inject UserService UserService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HiBlazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Anasayfa
            </NavLink>
        </div>
        @if (isCompany)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="shipping-create">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Nakliye Talepleri
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="shipping-create">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Nakliye Talebi Oluştur
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="shipping-list">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Nakliye Taleplerim
                </NavLink>
            </div>
        }
      
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    public bool isCompany = false;

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     // isCompany = await Http.GetFromJsonAsync<bool>("users/isCompany");
    //     isCompany = true; //UserService.IsCompany();
    //                       // StateHasChanged();
    // }
    protected override void OnAfterRender(bool firstRender)
    {
        isCompany = true;
        base.OnAfterRender(firstRender);
    }
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
